<header class="container-fluid">
  <div class="storename">
    <p>Crescendo</p>
  </div>

  <div class = "no-bullets navbar nav">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Products", inventory_index_path %></li>
      <li> Reviews </li>

      <% if !user_signed_in? %>

        <li><%= link_to "Log in", new_user_session_path %></li>

      <% else %>

        <li><span><%= current_user.email %> | <%= current_user.name %></li></span>
        <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>

      <% end %>

    </ul>
  </div>
</header>
