<link href='https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


<div class="container-index">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% @inventory.each do |inventory| %>
      <div class ="row">
        <div class="col-sm-12 col-md-4">
          <div class="img-rounded">
            <p><%= image_tag(inventory.image, :class => "img-responsive") %></p>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <table class="table">
            <tr>
              <td><strong><%= inventory.name %></strong></td>
            </tr>
            <tr>
              <td><strong>Price</strong></td>
              <td>€ <%= inventory.price %>,-</td>
            </tr>
            <tr>
              <td><strong>Amount left in stock</strong></td>
              <td><%= inventory.quantity %></td>
            </tr>
            <tr>
              <td>
                <font color="#ff0000">
                  <a href="/shopping_cart_items/<%= inventory.id %>">Add to cart</a>
                </font>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-12 col-md-4">
          <p><%= inventory.description %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>
