<div align="center">
<table class="tableShow">

  <tr>
    <td>
      <p></p>
    </td>
    <td>
      <h1><%= @inventory.name %></h1>
    </td>
  </tr>

</table>

<table class="tableShow"
  <tr>
    <td>
      Description:
    </td>
    <td>
      <%= @inventory.description %>
    </td>
  </tr>

  <tr>
    <td>
      Price    align: center;:
    </td>
    <td>
      <%= @inventory.price %>
    </td>
  </tr>

  <tr>
    <td>
      Currently in stock:
    </td>
    <td>
      <%= @inventory.quantity %>
    </td>
  </tr>
</table>

<table>

  <tr>
    <td>
      <p></p>
    </td>
    <td>
      <%= image_tag(@inventory.image) %>
    </td>
  </tr>

</table>

</div>
<br>
<br>
<%= link_to 'Back', '/inventory/' %>
