<div class="container">
  <div class="container-show">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="thumbnail">
          <p>
            <%= image_tag(@product.image, :class => 'img-responsive') %>
          </p>
        </div>
        <table>
          <tr>
            <td><strong>Name</strong></td>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <td><strong>Price</strong></td>
            <td><%= @product.price %></td>
          </tr>
          <tr>
            <td><strong>In stock</strong></td>
            <td><%= @product.quantity %></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-6 col-sm-4">
        <p style="font-size:120%">
          <strong>Description</strong>
        </p>
        <p>
          <%= @product.description %>
        </p>
      </div
      <div class="col-xs-6 col-sm-4">
        <p style="font-size:120%">
          <strong>Review</strong>
        </p>
        <p>
          Best in the world!!!</br>
        <p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<%= link_to 'Back', '/products/' %>
