<h1>Your shopping cart</h1>

<% total = 0 %>
<% @shopping_cart.each do |id, quantity| %>
  <% @product = Product.find(id) %>
    <p><%= @product.name %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Price: <%= @product.price %> EUR</p>
    <br>

    <% total += quantity * @product.price %>
<% end %>
<p>Total: <%= total %> EUR</p>

<br>
<%= link_to "Clear cart", shopping_cart_items_clear_path %>
