<section class="cart">
  <div class="container">
    <div class="trans">
    <div class="row text-center">
      <h3>my shopping cart</h3>
      <br>
      <div class="btns">
        <p class="inline"><%= link_to "Back to products",  products_path %></p>
        <p class="inline"><%= link_to "Clear cart", shopping_cart_items_clear_path %></p>
      </div>
      <br><br><br>

    </div>

  <div class="row text-center">
    <% total = 0 %>
      <% @shopping_cart.each do |id, quantity| %>
        <% @product = Product.find(id) %>
        <p><%= @product.name %></p>
        <p>Quantity: <%= quantity %></p>
        <p>Price: <%= @product.price %> EUR</p>
        <br>

        <% total += quantity * @product.price %>
      <% end %>
    <p>Total: <%= total %> &euro;</p>
  </div>
</section>
